/*
MY COLOR PALETTE
Color 1 - #F8EF9F
Color 2 - #caf0f8
Color 3 - #F8D7BC
Color 4 - #F8CBCA
Color 5 - #F7A6F5
*/

body {
    background-color: #caf0f8;
    color: #f7a6f5;
    font-family: "Abril Fatface", cursive;
    font-size: 21px;
    letter-spacing: 2px;
    text-align: center;
}
button {
    background-color: #f8ef9f;
    color: #f7a6f5;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    width: 150px;
    padding: 10px;
    border:none;
    border-radius: 20px 
}
button:hover {
    background-color: #f8cbca;
}

